﻿body .top-bar {
    background-color: orangered
}

    body .top-bar .main-bar {
        width: 85%;
        background-color: yellow;
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
    }

        body .top-bar .main-bar .contact-left {
            flex-grow: 4;
            background-color: aqua;
            display: flex;
            justify-content: left;
            gap: 20px;
        }

        body .top-bar .main-bar .login-right {
            flex-grow: 2;
            background-color: cadetblue;
            display: flex;
            justify-content: flex-start;
            gap: 20px;
        }

body .main-container {
    margin: 0;
}

    body .main-container .banner-container {
        display: flex;
        justify-content: center;
        height: 105px;
    }

    body .main-container .category-container {
        display: flex;
        justify-content: center;
    }

body .news {
    width: 80%;
    display: flex;
    margin: auto;
}

    body .news .latest-news-container {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

        body .news .latest-news-container img {
            max-width: 90%;
        }

        body .news .latest-news-container .first-part {
            width: 120%;
            border: 2px solid powderblue;
            padding: 10px;
        }

        body .news .latest-news-container .second-and-third {
            width: 30%;
            display: flex;
            flex-direction: column;
        }

        body .news .latest-news-container .second-part {
            border: 2px solid powderblue;
            padding: 10px;
        }

        body .news .latest-news-container .third-part {
            border: 2px solid powderblue;
            padding: 10px;
        }

    body .news .side-ads-container img {
        display: flex;
        flex-direction: column;
        max-width: 90%;
    }

    body .news .side-ads-container {
        width: 57%;
        float: right;
    }
